* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: "Playfair Display", serif;
    background-color: #b8dfe2;
    height: 100vh;
    display: grid;
    place-items: center;
}


.contact-container {
    background-color: #fef8f3;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 30px;
    width: 900px;
    align-items: center;
}

.image-section img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;

}
